<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
    </head>
    <body>
        <!--name=tamutamuならば--!>
        {% if name == "tamutamu" %}
        <h1>アプリ開発はじめました^_-{{name}}</h1>
        {% elif name %}
        <h3>冷やし中華始めました^o^/{{name}}</h3>
        {% else %}
        <h1>はろおきてぃ</h1>
        {% endif %}
        
        <!--formタグのaction属性で、フォームに送信する対象のURLを指定--!>
        <form action="/index" method="post">
            <input type="text" name="name" placeholder="Enter name">
            <input type="submit" value="Submit">
        </form>



        <div><img src="/static/images/images.jpg" alt="かわいい"></div>
        <p><a href="/kitty2">青いキティへ</a></p>
        {% for word in guzai %}
        <p>{{word}}</p>
        {% endfor %}
        
    </body>
</html>