<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
    </head>
    <body>
        <name=tamutamuならば--*/
        {% if name == "tamutamu" %}
        <h1>アプリ開発はじめました^_-{{name}}</h1>
        {% elif name %}
        <h3>冷やし中華始めました^o^/{{name}}</h3>
        {% else %}
        <h1>はろおきてぃ</h1>
        {% endif %}
        <img src="/static/images/images.jpg" alt="かわいい">
        {% for word in guzai %}
        <p>{{word}}</p>
        {% endfor %}
        
    </body>
</html>